@import 'tailwindcss';
@import '@nuxt/ui';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

:root {
  --ui-text-dimmed: var(--color-neutral-400);
  --ui-text-muted: var(--color-neutral-500);
  --ui-text-toned: var(--color-neutral-600);
  --ui-text: var(--color-neutral-700);
  --ui-text-highlighted: var(--color-neutral-900);
  --ui-text-inverted: #ffffff;
  --ui-bg: #ffffff;
  --ui-bg-muted: var(--color-neutral-50);
  --ui-bg-elevated: var(--color-neutral-100);
  --ui-bg-accented: var(--color-neutral-200);
  --ui-bg-inverted: var(--color-neutral-900);
  --ui-border: var(--color-neutral-200);
  --ui-border-muted: var(--color-neutral-200);
  --ui-border-accented: var(--color-neutral-300);
  --ui-border-inverted: var(--color-neutral-900);
  --ui-radius: 0.25rem;
}

.dark {
  --ui-text-dimmed: var(--color-zinc-600);
  --ui-text-muted: var(--color-zinc-500);
  --ui-text-toned: var(--color-zinc-500);
  --ui-text: #ffffff;
  --ui-text-highlighted: #ffffff;
  --ui-text-inverted: #ffffff;
  --ui-bg: var(--color-zinc-900);
  --ui-bg-muted: var(--color-zinc-500);
  --ui-bg-elevated: var(--color-zinc-900);
  --ui-bg-accented: var(--color-zinc-700);
  --ui-bg-inverted: var(--color-zinc-700);
  --ui-border: var(--color-zinc-800);
  --ui-border-muted: var(--color-zinc-400);
  --ui-border-accented: var(--color-zinc-700);
  --ui-border-inverted: var(--color-zinc-500);
  --ui-radius: 0.14rem;
}
